@import url('https://fonts.googleapis.com/css?family=Raleway:300,400|Lato:300,400');

body{
	background-color: rgb(225,225,225);
	background-image: url("../images/new_year_background.png")
}

.titleContainer{
	font-family: 'Raleway';
	position:relative;
	background-color:white;
	box-shadow: 1px 1px 4px rgba(0,0,0,.4);
	margin:.5em;
}

.title{
	padding:.1em;
	font-weight:300;
	font-size: 40px;
	color: #000029;
	font-weight: 300;
}

.subTitle{
	padding:.3em;
	font-size: 22px;
	color: #333333;
	font-family: 'Raleway';
}

.pageContainer{
	position: absolute;
	top:0px;
	left: 12.5vw;
	width: 75vw;
	background-color:#333333;
	box-shadow:1px 1px 4px rgba(0,0,0,.4);
}

.method-content{
	font-family: 'Lato';
	background-color: white;
	box-shadow: 1px 1px 4px rgba(0,0,0,.4);
	margin:.5em;
}

.controls-panel{
	font-family: 'Lato';
	background-color: white;
	margin: .5em;
}

.control{
	margin: 2em;
}

.control.search{
	text-indent: 24px;
	height: 24px;
}

.search.icon{
	position:relative;
	left:52px;
	top: 6px;
}

.content{
	position:relative;
	height: 15000px;
	margin:.5em;
	background-color:white;
	box-shadow: 1px 1px 4px rgba(0,0,0,.4);
}

.jobText{
	font-family: 'Lato';
	font-weight:300;
}

.suggestionsContainer {
    	position: absolute;
    	left: 58px;
    	top: 449px;
    	width: 171px;
    	z-index: 1;
    	background-color: white;
    	border: solid 1px threedface;
    	font-family: lato;
    	font-weight: 300;
    	font-size: 12px;
}

.suggestion{
	padding:5px;
}

.suggestion:hover{
	background-color: dodgerblue;
	border-radius: 2px;
}